.formlogin {
    margin-top: 120px;
    height: 400px;
    box-shadow: 2px 2px 3px rgb(88, 88, 88);
    background-color: #ffffff;
    border-radius: 40px;
}

.titlelogin {
    font-weight: 700 !important;
    text-align: center !important;
    font-size: 18px;
    margin-top: -15px !important;
    margin-bottom: 5px;
}

.bg {
    background-image: url('../img/bglogin.jpg');
    height: 654px !important;
    background-size: cover;
}

.btn-primary {
    width: 150px !important;
}

.forgotlink {
    margin-top: -10px !important;
    font-size: 13px;
}

.signuplink {
    font-size: 13px;
}

.form-control {
    border-radius: 15px !important;
}


/* Signup */

.bgsignup {
    margin: 0;
}

.text-signup {
    font-size: 30px;
}

@media (min-width: 992px) {
    .bgsignup {
        background-image: url('../img/bglogin.jpg');
        width: 500px !important;
        background-size: cover;
        height: 680px !important;
    }
}


/* Forgote Password */

.formforgot {
    margin-top: 120px;
    height: 420px;
    box-shadow: 2px 2px 3px rgb(88, 88, 88);
    background-color: #ffffff;
    border-radius: 40px;
}


/* VERIFY */

.formverify {
    margin-top: 120px;
    height: 260px;
    box-shadow: 2px 2px 3px rgb(88, 88, 88);
    background-color: #ffffff;
    border-radius: 40px;
}

.inputverify {
    height: 70px !important;
    font-size: 25px !important;
    border-radius: 5px !important;
}

.titleverify {
    font-weight: 500;
    font-size: 20px;
    color: gray;
    margin-top: -10px;
    margin-bottom: 10px;
}

.btnverify {
    text-align: right !important;
}