/* NavBar */

.position {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
}

.navbars {
    background-color: transparent;
    transition: 0.4s
}

.navbaruser {
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
    box-shadow: 0px 2px 2px rgb(231, 231, 231);
}

.navbarbrand {
    margin-top: -7px !important;
    font-weight: bold;
    font-size: 40px !important;
}

.allitems {
    text-decoration: none !important;
    color: black;
}

.bgsearch {
    margin-top: 5px;
    margin-left: 20px;
    background-color: transparent !important;
    color: white !important;
    width: 200px !important;
}

.btnsearch:hover {
    filter: drop-shadow(1px 1px 2px white);
}

.textcolor {
    color: white !important;
}

.brandtext {
    color: #ffc107;
    text-shadow: 2px 2px 2px rgb(34, 34, 34);
    transition: 0.9s;
}

.brandtexts {
    color: #ffc107;
    transition: 0.9s;
}

.carts {
    transition: 0.9s;
}

.inline {
    display: inline-block;
}

.text {
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgb(34, 34, 34);
    transition: 0.6s;
}

.texts {
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: 0.6s;
}

.text:hover {
    color: #ffc107;
    text-shadow: 2px 2px 2px rgb(121, 120, 120);
}

.btn-warning {
    color: white !important;
    margin-top: -3px;
    border-radius: 20px !important;
    width: 100px !important;
}

.margincontent {
    margin-top: 100px;
}

.margincontent-resto {
    margin-top: 150px;
}

.cart:hover {
    filter: drop-shadow(2px 2px 2px white);
}

.btnlogin {
    filter: drop-shadow(1px 1px 2px black)
}


/* Jumbotron */

.slide1 {
    background-image: url("../img/jumbotron1.jpg");
    height: 700px;
    background-size: cover;
}

.slide2 {
    background-image: url("../img/jumbotron2.jpg");
    height: 500px;
    background-size: cover;
}

.slide3 {
    background-image: url("../img/jumbotron3.jpg");
    height: 500px;
    background-size: cover;
}

.shop {
    margin: -20px auto 0px !important;
}

.text-jumbotron {
    font-size: 40px !important;
    color: rgb(236, 236, 236);
    text-shadow: 2px 2px 2px rgb(56, 56, 56);
    margin: 120px;
    text-align: center;
    opacity: 0.9;
}

.bold {
    font-weight: bold;
}

@media (min-width: 992px) {
    .text-jumbotron {
        font-size: 50px !important;
    }
}


/* JOI US */

.bgjoinus {
    background-image: url('../img//joinus.jpg') !important;
    background-size: cover;
    margin-top: -40px;
    height: 600px;
    text-align: center;
}

.colorjoinus {
    color: #333333;
}

.contentjoinus {
    font-size: 18px;
    color: #6c6666;
    font-weight: 600;
}

.btn-dark {
    border-radius: 25px !important;
}

.btnjoinus {
    width: 200px !important;
}

@media (min-width: 992px) {
    .bgjoinus {
        text-align: left;
    }
}


/* Slider Items */

.sliders {
    height: 400px !important;
}


/* FOOTER */

.textfooter {
    color: #6c6666;
    text-decoration: none;
}

.instagram {
    background-image: url('../img/ig.png');
    width: 10px;
    height: 10px;
}

.dec {
    text-decoration: none;
}

.searchfooter {
    width: 280px !important;
}

@media (min-width: 992px) {
    .searchfooter {
        width: 80px;
    }
}


/* Navbarsub */

.navbarsub {
    box-shadow: 0 2px 3px rgb(231, 229, 229) !important;
    background-color: white;
}

.navbarbrandsub {
    margin-top: -7px !important;
    font-weight: bold;
    font-size: 40px !important;
}

.textsubbrand {
    color: #333333 !important;
}

.textsub {
    color: #333333 !important;
    font-weight: bold;
}

.textsub:hover {
    color: #ffc107 !important;
}

.cartsub:hover {
    filter: drop-shadow(2px 2px 2px #ffc107);
}


/* ListItems Page */

.card-text {
    margin-bottom: 0px !important;
    color: black !important;
}

.textcolor {
    color: #ffc107 !important;
    font-weight: 700;
    margin-top: 10px !important;
}

.card-resto {
    font-weight: 700;
    color: black !important;
}

.cardresto:hover {
    transform: scale(1.05, 1.05);
}


/* .btnedit {
    width: 0% !important;
    text-align: center;
} */

.imgcart {
    width: 40px;
    height: 30px;
    margin-left: -20px;
    border-radius: 0 !important;
    margin-bottom: 20px !important;
    filter: drop-shadow(2px 2px 2px rgb(29, 29, 29));
}

.imgcart:hover {
    transform: scale(1.2, 1.2);
}

.carditems :hover {
    transform: scale(1.2, 1.2);
}

@media (min-width: 992px) {
    .imgitems {
        width: 100px;
        height: 160px;
    }
}


/* Create Restaurant Page */

.bgcreateresto {
    background-image: url('../img//bgjoinus.jpg');
    background-size: cover;
    height: 654px !important;
}

.lbljoinus {
    font-size: 13px !important;
}

.formjoinus {
    margin-top: 50px;
    height: 580px;
    width: 1000px;
    box-shadow: 2px 2px 3px rgb(88, 88, 88);
    background-color: #ffffff;
    border-radius: 40px;
}

.titlecreateresto {
    font-weight: 700 !important;
    text-align: center !important;
    font-size: 18px;
    margin-bottom: 5px;
}


/* Restaurant Items */


/* .carditemresto {
    margin-bottom: -1000px !important;
} */

.btndel {
    width: 686% !important;
    font-size: 12px !important;
}

.btnadd {
    width: 920% !important;
}

@media (min-width: 992px) {
    .btndel {
        width: 270% !important;
    }
    .btnadd {
        width: 460% !important;
    }
}

.carditemresto:hover {
    transform: scale(1.03, 1.03);
}

.carditemresto {
    height: 70%;
}

.imgitemresto {
    width: 100% !important;
    height: 45%;
}

.card-text-resto {
    font-size: 13px !important;
    color: black !important;
    margin-bottom: 4px;
    margin-top: -10px;
}

.card-resto-category {
    font-size: 13px !important;
    color: black !important;
    font-weight: 700;
}

.text-price {
    margin-top: -1px !important;
}


/* Page Profile */

.form-control-file {
    text-align: center !important;
}

.cards {
    width: 390px;
}

.card-gutters {
    width: 100% !important;
}

.card-img {
    width: 340px !important;
    height: 280px !important;
}

.card-title {
    font-size: 30px;
    font-weight: bold;
    color: rgb(75, 75, 75);
}

.card-body-hover:hover {
    transform: scale(1.05, 1.05);
}

.card-body-link {
    text-decoration: none !important;
}

.img-profilesize {
    text-align: center !important;
}

.btnitems {
    border-radius: 10% !important;
}

@media (min-width: 992px) {
    .img-profilesize {
        text-align: justify !important;
    }
    .form-control-file {
        text-align: justify !important;
    }
}


/* userprofile */

.sizeprofile {
    text-align: center !important;
}

.sizeuserprofile {
    width: 340px;
    height: 280px;
    border-radius: 5%;
    box-shadow: 3px 3px 3px rgb(194, 194, 194);
}

.tittleuserprofile {
    font-weight: 700;
    color: rgb(90, 90, 90);
}

.sml {
    font-size: 13px !important;
    color: rgb(128, 126, 126);
}

.address {
    margin-top: 15px;
    border-radius: 1% !important;
    height: 50px;
}

.balance {
    font-size: 12px;
    color: rgb(128, 126, 126);
}

.value {
    color: #ffc107;
    font-weight: 800;
    font-size: 22px;
}

.btntopup {
    border-radius: 10px !important;
    height: 30px;
    width: 70px !important;
    font-size: 15px !important;
    padding: 1px !important;
    margin-right: 15px;
    margin-top: -10px;
}

@media (min-width: 992px) {
    .sizeuserprofile {
        width: 340px;
        height: 280px;
        border-radius: 5%;
        box-shadow: 3px 3px 3px rgb(194, 194, 194);
    }
    .sizeprofile {
        text-align: justify !important;
    }
}


/* Cart */

@media (min-width: 992px) {
    .card-imgsize {
        text-align: center !important;
    }
}

.card-imgsize {
    text-align: center !important;
}

.card-img-cart {
    width: 100% !important;
    height: 100% !important;
    background-size: cover;
}

.cart-title {
    color: black !important;
    text-decoration: none !important;
    font-weight: 600;
    color: black !important;
    text-align: center;
}

.cart-resto {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    padding: 5px;
    padding-left: 10px !important;
    background-color: #dc3545;
    width: 100%;
    border-radius: 5px;
}

.cart-price {
    color: #ffc107 !important;
    font-weight: 700;
    font-size: 25px;
    margin-top: 40px;
}

.text-checkout {
    font-size: 18px;
}

.cart-balance {
    color: #ffc107;
}

.checkout-profile {
    width: 300px;
}

.check-price {
    color: #ffc107 !important;
    font-weight: 700;
    font-size: 25px;
    margin-top: 20px;
}

.checkout-position {
    text-align: center;
}

.marginbuy {
    margin-top: -70px !important;
    border-radius: 5px !important;
}

.marginplus {
    margin-top: -70px !important;
    border-radius: 5px !important;
}


/* Pagination */


/* Reviews */

.card-img-detail {
    width: 100% !important;
}

.reviews-box {
    padding: 15px 10px 15px 20px;
    width: 100%;
    box-shadow: 2px 2px 2px rgb(228, 227, 227), -2px -2px 2px rgb(228, 227, 227);
}

.img-reviews {
    border-radius: 100% !important;
    width: 80px !important;
    height: 80px !important;
    display: inline-block;
    margin-right: 30px;
}

.marginreview {
    margin-bottom: 20px !important;
}

.plus {
    font-weight: bolder !important;
}

.card-img-resto {
    width: 280px !important;
    height: 220px !important;
    margin-right: 20px;
}

.input-total {
    width: 200px !important;
    border-radius: 0px !important;
    margin-top: -40px;
    margin-bottom: 30px;
}

.btn-edit-item-resto {
    width: 25% !important;
}


/* Input Comment */

.form-comment {
    border-radius: none !important;
    width: 800px !important;
}

.align-comment {
    text-align: center !important;
}

.card-profile {
    margin-top: 180px;
}

.marginitemresto {
    margin-top: 130px;
}